<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js">
		<link href="stylesheets/style.css" rel="stylesheet">
	</head>
	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
						<div class="navbar-header">
							<a class="navbar-brand" ui-sref="#"><img alt="Brand" src="images/logo.png" id="imgLogo"></a>
							<a class="navbar-brand" href="http://www.hospidata.com.br">Hospidata</a>
						</div>
					</nav>
				</div>
			</div>

			<div class="row">

			</div>
		</div>
	</body>
</html>
